<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a href="{{ "/"  | prepend: site.baseurl }}"><img src="{{ site.logo }}" alt="Ontodia" width="123"></a>
            </div>    
            <div class="col-sm-6 footer__section">
                <h4 class="footer__section-caption">Contact us</h4>
                {% for contact in site.contact_us %}
                    <div class="footer__contact">
                        {{ contact.title }}<br/>
                        {% for email in contact.emails %}
                            <a href="{{ email.url }}">{{ email.title }}</a><br/>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->