<!-- Fixed navbar -->
<div class="navigation">
  <div class="container navigation__container">
    <div class="navigation__header">
      <a class="navigation__logo" href="{{ "/"  | prepend: site.baseurl }}"><img class="navigation__logo-img" src="{{ site.logo }}" alt="Ontodia" width="130"></a>
      <a href="#" class="navigation__btn">
        <i class="fa fa-bars navigation__btn-bars" aria-hidden="true"></i>
      </a>
    </div>
    <div class="navigation__controls">
      <ul class="navigation__list">
        {% for link in site.navigation %}
        
          <!-- Set Active -->
          {% assign active = nil %}
          {% if link.layouts %}
            {% for l in link.layouts %}
              {% if page.layout == l %}
                {% assign active = 'active' %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% else %}
            {% if page.url == link.url %}
              {% assign active = 'active' %}
            {% endif %}
          {% endif %}
          
          <li class="navigation__list-item {{ active }}">
            <a class="navigation__list-link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="navigation__enter">
        <a href="http://app.ontodia.org/login" class="btn btn-default btn-sm navigation__enter-login">Log in</a>
        <a href="http://app.ontodia.org/register" class="btn btn-success btn-sm navigation__enter-signup">Sign up</a>
      </div>
    </div>
  </div>
</div>