/* ======================================================
	Aside Item
====================================================== */

.aside-item__caption {
	color: #317eac;
	letter-spacing: 1px;
	margin: 0 0 24px;
	text-transform: uppercase;
}