/* ======================================================
	Main Container
====================================================== */

.main-container {
	margin: 40px 0 80px;
    
    &__wrap:before, &__wrap:after {
        content: "";
        display: table;
    }

    &__wrap::after {
        clear: both;
    }

    &__aside {
        margin: 50px 0 0;
    }

    @media (min-width: $screen-sm-min) {
        
        &__content {
            float: left;
            width: 75%;
        }
        
        &__aside {
            float: right;
            margin: 0;
            width: 21.666%;
        }
    }
}