/* ======================================================
	Posts List
====================================================== */

.posts-list__item {
	background: #f9f9f9;
    margin: 40px 0 0;
	padding: 50px;
    
    &:first-child {
        margin-top: 0;
    }
}