---
layout: blog
---

<div class="post">
    <div class="post__header">
        {% if page.img %}
            <div class="post__img-wrap">
                <img class="post__img" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}">
            </div>
        {% endif %}
        <h1 class="post__caption">{{ page.title }}</h1>
        <div class="post__meta">By {{ page.author }} on {{ page.date | date: "%b %-d, %Y" }}</div>
    </div>
    <div class="post__body text">
        {{ content }}
    </div>
</div>

<!-- Pagination links -->
<nav class="pager-wrap">
    <ul class="pager pager-wrap__pager">
        {% if page.previous.url %}
            <li class="previous">
                <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{page.previous.title}}">&larr; Previous Post</a>
            </li>
        {% endif %}
        {% if page.next.url %}
            <li class="next">
                <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{page.next.title}}">Next Post &rarr;</a>
            </li>
        {% endif %}
    </ul>
</nav>

<div class="disqus-wrap">
    <div id="disqus_thread"></div>
</div>
<script type="text/javascript">
    var disqus_shortname = '{{ site.disqus_shortname }}';
    var disqus_config = function () {
        this.page.url = "{{ site.url }}{{ page.url }}";
        this.page.identifier = "{{ page.url }}";
    };
    (function() {
        var d = document, s = d.createElement('script');
        
        s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>